@charset "utf-8";
/* CSS Document */
.navButton{
	background-color: #00ff00;
	text-align:center;
	text-color:#000000;
	border-radius: 25px;
	}
.navBar{
	padding:25px;
	}
a:link, a:visited {
  color: blue;
  text-align: center;

  display: inline-block;
}
